{% extends 'triviaapp/base.html' %}

{% block content %}
<div class="">

<form class="" action="{% url 'password' %}">
<br>
<h1 class="text-center">question 1</h1>
<br>
<h3>Who is the best cricketer in the world?</h3>


{{ trivia.name }}

<h4> Options: </h4>


<div class="container  text-center">

    <h4> <input type="checkbox" name="uppercase" value="uppercase"> A) Sachin Tendulkar</h4>
    <h4> <input type="checkbox" name="number" value="number"> B) Virat Kolli</h4>
    <h4> <input type="checkbox" name="special" value="special"> C) Adam Gilchirst</h4>
    <h4> <input type="checkbox" name="special" value="special"> D) Jacques Kallis</h4>

<br>
    <input type="submit" class="button button2" name="" value="Generate Password!">

  </form>

</div>
<br>
{% endblock %}
