{% extends 'triviaapp/base.html' %}

{% block content %}
<div class="">

<form class="" action="{% url 'question2' %}">
<br>
<h1 class="text-center">question!</h1>
<br>

<div class="container  text-center">

{% if trivia.type == 1 %}
  {% for option in trivia.options.all %}
    <h4> <input type="radio" name="choice" value="{{option}}"> {{option}}</h4>
  {% endfor %}



  {% else %}
    {% for option in trivia.options.all %}
      <h4> <input type="checkbox" name="option" value="{{option}}">{{option}}</h4>
    {% endfor %}
{% endif %}

<br>
    <input type="submit" class="button button2" name="" value="submit answer">

  </form>

</div>
<br>
{% endblock %}
