{% extends 'triviaapp/base.html' %}

{% block content %}

<hr>
<h1>Summary</h1>
<hr>
{% for answer in answers %}
<h2>Hi {{answer.player.name}} </h2>
<hr>

<h3> Question : {{answer.question.question}}</h3>
  <br>
<h3>Your Answer: {{answer.get_player_answer}} </h3>
<br>

{% endfor %}
<form class="" action=" " method="POST">

{% csrf_token %}


<button type="submit"  name="FINISH">
  <a href="{% url 'getname'  %}">FINISH</a></button>

<button type="submit"  name="HISTORY ">
  <a href="{% url 'history'  %}">HISTORY</a> </button>

{% csrf_token %}
</form>

{% csrf_token %}

{% endblock %}
